<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mi</h2>
  <hr class="mb-4 border-zinc-600" />
  <p class="leading-8 text-lg text-pretty mb-3 text-black-400">
    Soy desarrollador de software con pasión por crear soluciones eficaces y
    seguras que resuelvan problemas informáticos reales. Me motiva enfrentar
    nuevos desafíos que impulsen mi crecimiento profesional, permitiéndome
    aplicar y ampliar mis conocimientos tanto teóricos como prácticos, en el
    desarrollo de software y en entornos educativos. Valoro la comunicación
    efectiva como una herramienta clave para resolver problemas técnicos e
    interpersonales. Tengo experiencia con diversas herramientas tecnológicas,
    incluyendo lenguajes de programación como Java y JavaScript, así como en la
    gestión e integración de bases de datos SQL en proyectos de <strong
      class="text-black-100 font-medium">desarrollo.</strong
    >
  </p>
  <p class="leading-8 text-lg text-pretty text-black-400">
    Me especializo en ofrecer un servicio técnico de alta calidad, con énfasis
    en componentes tecnológicos e informáticos. Mi objetivo es superar
    expectativas y alcanzar metas que impulsen tanto el crecimiento profesional
    como la excelencia en el <strong
      class="text-black-100 font-medium">desarrollo de software.</strong
    >
  </p>
</section>
