---
import ProjectCard from '@components/ProjectCard.astro'
import Typescript from '@assets/icons/typescript.astro';
import React from '@assets/icons/react.astro';
import Supabase from '@assets/icons/supabase.astro';
import  Vscode from '@assets/icons/vscode.astro';
import Tailwind from '@assets/icons/tailwind.astro';
import Github from '@assets/icons/github.astro';
import Javascript from '@assets/icons/javascript.astro';
import Css from '@assets/icons/css.astro';
import Node from '@assets/icons/node.astro';
import Html from '@assets/icons/html.astro'
import Firebase from '@assets/icons/firebase.astro'
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Proyectos</h2>
  <hr class="mb-6 border-zinc-600">

  <ProjectCard projectTitle="CHyper Hill" projectDescription="Aplicación web para cifrar y descifrar mensajes a tráves del método de Hill de cifrado." projectLink="https://cifrado-hill.vercel.app/" image="images/Cifrado_Hill.webp">
    
    <Vscode />
    <Html />
    <Css />
    <Javascript />
    <Github />
  </ProjectCard>

  <ProjectCard projectTitle="Decoraciones en Yeso" projectDescription="Portal web que presenta servicios e información sobre Decoraciones en Yeso." projectLink="https://astro-decoraciones-en-yeso.vercel.app/" image="images/Decoraciones_en_Yeso.webp">
    <Vscode />
    <React />
    <Css />
    <Javascript />
    <Node />
    <Github />
    
  </ProjectCard>


  <ProjectCard projectTitle="POS FOODTRUCK" projectDescription="Punto de venta dígital para carritos de comidas rápidas." projectLink="https://pos-foodtruck.vercel.app/" image="/images/POS-FOOD.webp">
    
    <Firebase />
    <Vscode />
    <React />
    <Css />
    <Javascript />
    <Node />
    <Github />
  </ProjectCard>
</section>
